@page
@using Microsoft.Extensions.Localization
@using TMT.MS.Localization
@using TMT.MS.Web.Pages.MS
@model TMT.MS.Web.Pages.MS.IndexModel
@inject IStringLocalizer<MSResource> L

@{
}
<h1>MS</h1>
<p>@L["SamplePageMessage"]</p>
